<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/cart.css">
    <!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/sanpham.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
</head>
<style>
	.type_sp > p{
		line-height: 30px;
	}
	.show_page_sp{
		margin-top: -20px;
		font-weight: bold;
	}
	header ul a:hover {
		color: black;
	}
	.logo {
		margin-top: -10px;
	}
	.search div {
		margin-top: -10px;
	}
	.sanpham {
		left: 350px;
		top: 95px;
		height: 565px;
	}
</style>
<body>
	<header style="height: 94px;">
			<div class="menu_mobie">
				
			</div>
			<span class="tab"><i id="button_icon_tab" onclick="open_tab()" class="fas fa-bars"></i></span>
			<span class="logo"><img src="https://storage-asset.msi.com/frontend/imgs/2021-msi-web_banner-gaming_h_b.png"></span>
			<span class="menu">
				<ul>
					<a href="/home"><li>TRANG CHỦ</li></a>
					<li class="li1_sp">SẢN PHẨM</li>
					<li>ODM</li>
					<li>CỘNG ĐỒNG</li>
					<li>CÓ GÌ MỚI</li>
					<li>HỖ TRỢ</li>
				</ul>
			</span>
			<span class="search" id="toggle_btn-search-login">
				
			</span>
			<div class="sanpham">
				<div class="type_sp">
					<p onmouseenter="laptop()">Laptop</p>
					<p onmouseenter="screen()">Màn Hình</p>
					<p onmouseenter="cpt()">Máy Tính Để Bàn</p>
					<p onmouseenter="card()">Card Đồ Họa</p>
					<p onmouseenter="bo_mach()">Bo Mạch Chủ</p>
					<p onmouseenter="phukien()">Thiết Bị Gaming</p>
				</div>
				<div class="decription_sp">
					<img class="img_sp_menu" src="https://storage-asset.msi.com/global/picture/support/navigation_15457035445c21907810f5d.png">
					<h4 class="name_sp_menu">Gaming Laptops</h4>
					<p class="type_sp_menu">True Gaming</p>
					<a href="/sanpham" class="show_page_sp">Show more</a>
				</div>

				</div>
		</header>
	<main class="bg-gray" style="padding: 50px; background-image: url('https://www.wealthandfinance-news.com/wp-content/uploads/2021/09/Frictionless-Payment.jpg'); background-size: cover; object-fit: cover;">
        <div class="container pb-2 mt-n2 mt-md-n3" style="background-color: rgba(0,0,0,0.8);">
            <div class="row" style="padding: 20px;">
                <div class="col-xl-9 col-md-8">
                    <h2 class="h6 d-flex flex-wrap justify-content-between align-items-center px-4 py-3 bg-secondary"><span>Payment</span><a class="font-size-sm text-white" href="/product?id_cate=1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left" style="width: 1rem; height: 1rem;"><polyline points="15 18 9 12 15 6"></polyline></svg>Continue shopping</a></h2>
                    <!-- Item-->
                    <!-- -- append item -- -->
                    <div id="root_item_cart">
						<div id="root_item_succes">
						</div>
                    </div>
                </div>
                <!-- Sidebar-->
                <div class="col-xl-3 col-md-4 pt-3 pt-md-0" style="background-color: rgba(0,0,0,0.1);">
                    <h2 class="h6 px-4 py-3 bg-secondary text-center">Subtotal</h2>
                    <div class="h3 font-weight-semibold text-center py-3 text-white" id="total_price"></div>
                    <hr class="text-white">
                    <h3 class="h6 pt-4 font-weight-semibold text-white"><span class="badge badge-success mr-2 text-white">Note</span>Additional comments</h3>
                    <textarea class="form-control mb-3" id="note" rows="5"></textarea>
                    <a class="btn btn-primary btn-block" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card mr-2">
                            <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                            <line x1="1" y1="10" x2="23" y2="10"></line>
                        </svg> Proceed to Checkout</a>
                    <div class="pt-4">
                        <div class="accordion" id="cart-accordion">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="accordion-heading font-weight-semibold"><a href="#promocode" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="promocode">Apply promo code<span class="accordion-indicator"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg></span></a></h3>
                                </div>
                                <div class="collapse show" id="promocode">
                                    <div class="card-body">
                                        <form class="needs-validation">
                                            <div class="form-group">
                                                <input class="form-control" type="text" id="code_promo" placeholder="Promo code" value="">
                                            </div>
                                            <button class="btn btn-outline-primary btn-block mt-2" type="button" onclick="check_code()" id="liveToastBtn">Apply promo code</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
							<div class="">
								<button class="btn btn-block mt-2 bg-secondary text-white" onclick="payment()">Payment</button>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</main>
	<div class="information_us">
				<div class="infor_row">
					<p>CỘNG ĐỒNG</p>
					<span><i class="fas fa-plus"></i></span>
					<div class="expand_footer">
					<p>Chương trình tích điểm thưởng</p>
					<p>Diễn đàn</p>
					<p>Mạng xã hội</p>
					<p>Video</p>
					<p>Đội game</p>
					<p>Blog</p>
					<p>Chia sẻ từ khách hàng</p>
					</div>
				</div>

				<div class="infor_row">
					<p>HỖ TRỢ</p>
					<span><i class="fas fa-plus"></i></span>
					<div class="expand_footer">
					<p>Tải xuống</p>
					<p>Trung tâm thành viên</p>
					<p>Chăm sóc khách hàng trực tuyến</p>
					<p>Địa chỉ trung tâm bảo hành</p>
					<p>Bảo hành</p>
					</div>
				</div>

				<div class="infor_row">
					<p>TIN TỨC</p>
					<span><i class="fas fa-plus"></i></span>
					<div class="expand_footer">
					<p>Tin tức</p>
					<p>Giải thưởng</p>
					<p>RSS</p>
					</div>
				</div>

				<div class="infor_row">
					<p>TRUYỀN THÔNG</p>
					<span><i class="fas fa-plus"></i></span>
					<div class="expand_footer">
					<p>Brochure</p>
					<p>Hình nền</p>
					<p>Ứng dụng của MSI</p>
					</div>
				</div>	

				<div class="infor_row">
					<p>VỀ MSI</p>
					<span><i class="fas fa-plus"></i></span>
					<div class="expand_footer"> 
					<p>Tầm nhìn của MSI</p>
					<p>Giới thiệu</p>
					<p>Thông tin cho nhà đầu tư</p>
					<p>Không ngừng sáng tạo</p>
					<p>Chứng nhận</p>
					<p>CSR</p>
					<p>Tiêu chuẩn về chất lượng</p>
					</div>

				</div>
			</div>
		</main>
		<footer>
			<div class="container_footer">
				<p>Cookie Policy</p>
				<p>Chính sách bảo vệ thông tin</p>
				<p>Điều khoản sử dụng</p>
				<p>Liên Hệ</p>
			</div>
			<div class="Copyright">
				<img src="https://storage-asset.msi.com/frontend/imgs/logo.png">
				<p>Copyright © 2021 Micro-Star INT'L CO., LTD. All rights reserved.</p>
			</div>
		</footer>
		<div class="item">
			<i class="fab fa-centos"></i>
		</div>
		<div class="item2">
			<img class="logo_royal" src="https://storage-asset.msi.com/frontend/imgs/Widget_TIAMAT.png">
		</div>

        <script src="/javascripts/cart.js"></script>
		<script type="text/javascript" src="/javascripts/main.js"></script>
		<script type="text/javascript" src="/javascripts/sanpham.js"></script>
		<script src="/javascripts/checkLogin.js"></script>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>